.App {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
}
.App-Page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.App-Header {
    padding-bottom: 10px;
}
.AppContainer {
    display: flex;
    background: floralwhite;
    width: 80vw;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    overflow-y: auto;
    max-height: 90vh;
}
.AppContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.AppList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.AppBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border-bottom: darkgrey 1px solid;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
    padding: 5px;
    margin-bottom: 5px;
}
.AppBody:hover {
    background: #f0f0f0;
    cursor: pointer;
}
.AppHeader {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
}
.AppSubHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: x-small;
    color: darkgrey;
}
.AppSpacer {
    height: 8px;
}
.AppContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.AppList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.AppListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border-bottom: darkgrey 1px solid;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
    padding: 5px;
    margin-bottom: 5px;
}
.AppListItem:hover {
    background: #f0f0f0;
    cursor: pointer;
}
.ItemHeader {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
}
.map-container {
    height: 40vh;
    width: 30vh;
    position: relative;
}
.combobox-input {
    width: 100%;
    padding: 0.5rem;
}
.ProfilPicture {
    border-radius: 50%;
}