.RegisterContainer {
    display: flex;
    background: floralwhite;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}
.RegisterContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.RegisterForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}