.UserMainContainer {
    display: flex;
    background: floralwhite;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}
.UserMainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.UserMainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.UserMainList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.UserMainListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border-bottom: darkgrey 1px solid;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
    padding: 5px;
    margin-bottom: 5px;
}
.UserMainListItem:hover {
    background: #f0f0f0;
    cursor: pointer;
}
.ItemHeader {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
}